menu "Datalogger"
	config DATALOGGER_LOG_LEVEL
		int "Datalogger log level"
		default 3
	config DATALOGGER_THREAD_PRIORITY
		int "Datalogger thread priority"
		default 0
	config DATALOGGER_STACK_SIZE
		int "Stack size for datalogger thread"
		default 1024
endmenu

menu "Beeper"
	config BEEPER_PWM_DEVICE_NAME
		string "Beeper pwm device name"
		default "PWM2"
	config BEEPER_PWM_PIN_NUMBER
		int "Beeper pwm pin number"
		default 4
endmenu

source "$ZEPHYR_BASE/Kconfig"
