menu "Alturia"

menu "Datalogger"
	module := DATALOGGER
	module-str := Datalogger
	rsource "Kconfig.loglevel"
	
	config DATALOGGER_THREAD_PRIORITY
		int "Datalogger thread priority"
		default 0
	config DATALOGGER_STACK_SIZE
		int "Stack size for datalogger thread"
		default 1024
	config DATALOGGER_BUFFER_SIZE
		int "Buffer size in bytes"
		default 1024
		help
			Buffer size for internal datalogger memory allocations
endmenu

menu "Pyros"
	config PYROS_ON_TIME
		int "On time"
		default 1000
		help
		  Pyro on time in milliseconds

endmenu

menu "DAQ"
	module := DAQ
	module-str := DAQ
	rsource "Kconfig.loglevel"

	config DAQ_PRIO
		int "Priority of daq thread"
		default 0
	config SENSOR_DAQ_STACK_SIZE
		int "Stack size for sensor daq threads"
		default 512
endmenu


menu "Event system"

	config EVENT_HANDLER_THREAD_STACK_SIZE
		int "Stack size of async event handler thread"
		default 2048

	config EVENT_QUEUE_LENGTH
		int "Maximum number of enqueued async events"
		default 256

	config EVENT_TIMERS_NUMBER
		int "Maximum number of event timers"
		default 8

endmenu
endmenu

source "$ZEPHYR_BASE/Kconfig"
