/dts-v1/;
#include <st/f3/stm32f303Xc.dtsi>

/ {
	model = "Alturia Altimeter";
	compatible = "alturia";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
	};

	aliases {
		led0 = &user_led;
		pressure-sensor = &ms5607;
		acc-sensor = &bmi088_acc;
		gyro-sensor = &bmi088_gyr;
		highg-sensor = &ais2120sx;
	};

	leds {
		compatible = "gpio-leds";
		user_led: led_0 {
			gpios = <&gpioa 15 GPIO_INT_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	pyros{
		compatible = "pyros";
		gpios = <&gpiob 4 0>, <&gpiob 5 0>, <&gpiob 6 0>, <&gpiob 7 0>;
	};

	beeper {
		compatible = "beeper";
		pwms = <&pwm2 4 1000000>;
	};

	servos {
		compatible = "servos";
		pwms = <&pwm8 2 50000000>, <&pwm8 3 50000000>;
	};
};

&rtc {
	status = "okay";
};

&usart1 {
	current-speed = <1000000>;
	status = "okay";
};

&timers2 {
	status = "okay";
	pwm2: pwm {
		st,prescaler = <100>;
		status = "okay";
	};
};

&timers4 {
	status = "okay";
	pwm4: pwm {
		st,prescaler = <100>;
		status = "okay";
	};
};

&timers8 {
	status = "okay";
	pwm8: pwm {
		st,prescaler = <100>;
		status = "okay";
	};
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 1 0>,  <&gpiob 10 0>, <&gpiob 2 0>, <&gpiob 0 0>;
	ms5607: ms5607@0 {
		status = "okay";
		compatible = "meas,ms5607";
		reg = <0>;
		label= "ms5607";
		spi-max-frequency = <20000000>;
	};
	bmi088_gyr: bmi088_gyr@1 {
		status = "okay";
		compatible = "bosch,bmi088-gyro";
		reg = <1>;
		label = "bmi088-gyro";
		spi-max-frequency = <10000000>;
	};
	bmi088_acc: bmi088_acc@2 {
		status = "okay";
		compatible = "bosch,bmi088-accel";
		reg = <2>;
		label = "bmi088-accel";
		spi-max-frequency = <10000000>;
	};
	ais2120sx: ais2120sx@3 {
		status = "okay";
		compatible ="st,aisx120sx";
		reg = <3>;
		label = "aisx2120sx";
		spi-max-frequency = <1000000>;
	};
};

&spi2 {
	status = "okay";
	cs-gpios = <&gpiob 12 0>;
	s25fl512: s25fl512@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		label="s25fl512";
		spi-max-frequency = <20000000>;
		jedec-id = [01 02 20];
		page-size = <0x200>;
		erase-types = <0x40000 0xD8 0 0 0 0 0 0>;
		size = <536870912>;
		hold-gpios = <&gpioc 13 0>;
	};
};

&s25fl512 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000 0x4000000>;
		};
	};
};

&adc1 {
	status = "okay";
};

&usb {
	status = "okay";
};
