CONFIG_BOARD_ALTURIA_V1_2=y

# SOC configuration
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000
CONFIG_FPU=y
CONFIG_PINMUX=y

# Pheripheral configuration
CONFIG_SPI=y
CONFIG_PWM=y
CONFIG_SERIAL=y

# Sensor configuration
CONFIG_SENSOR=y
CONFIG_MS5607=y
CONFIG_BMI088_GYRO=y
CONFIG_BMI088_ACCEL=y

# GPIO configuration
CONFIG_GPIO=y

# SPI NOR Flash configuration
CONFIG_FLASH=y
CONFIG_SPI_NOR=y
CONFIG_SPI_NOR_SFDP_RUNTIME=y

# RCC
CONFIG_CLOCK_CONTROL=y
