CONFIG_BOARD_ALTURIA_V1_2=y

# SOC configuration
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000
CONFIG_FPU=y

# Pheripheral configuration
CONFIG_PINCTRL=y
CONFIG_SPI=y
CONFIG_PWM=y
CONFIG_SERIAL=y

# GPIO configuration
CONFIG_GPIO=y

# SPI NOR Flash configuration
CONFIG_FLASH=y
CONFIG_SPI_NOR=y
CONFIG_SPI_NOR_SFDP_DEVICETREE=y

# RCC
CONFIG_CLOCK_CONTROL=y
