/dts-v1/;
#include <st/f4/stm32f405Xg.dtsi>
#include <st/f4/stm32f405rgtx-pinctrl.dtsi>

/ {
	model = "Alturia Altimeter";
	compatible = "alturia_v1_2";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
	};

	aliases {
		pressure-sensor = &ms5607;
		acc-sensor = &bmi088_acc;
		gyro-sensor = &bmi088_gyr;
		highg-sensor = &ais2120sx;
		norflash = &mt25ql;
		red-led = &red_led;
		green-led = &green_led;
		blue-led = &blue_led;
	};

	pwmleds: pwmleds {
		compatible = "pwm-leds";

		red_led: red_led {
			pwms = <&pwm3 1 100000 PWM_POLARITY_INVERTED >;
		};

		green_led: green_led {
			pwms = <&pwm3 2 100000 PWM_POLARITY_INVERTED>;
		};

		blue_led: blue_led {
			pwms = <&pwm3 3 100000 PWM_POLARITY_INVERTED>;
		};
	};

	pyros: pyros {
		compatible = "pyros";
		pyro1 {
			gpios = <&gpioa 2 0>;
		};
		pyro2 {
			gpios = <&gpioa 1 0>;
		};
		pyro3 {
			gpios = <&gpioc 14 0>;
		};
		pyro4 {
			gpios = <&gpioa 3 0>;
		};
	};

	beeper: beeper {
		compatible = "beeper";
		pwms = <&pwm2 1 50000000 PWM_POLARITY_NORMAL>;
	};

	servos: servos {
		compatible = "servos";
		servo1 {
			pwms = <&pwm4 3 50000000 PWM_POLARITY_NORMAL>;
		};
		servo2 {
			pwms = <&pwm4 4 50000000 PWM_POLARITY_NORMAL>;
		};
	};
};

&usart1 {
	pinctrl-0 = <&usart1_rx_pa10 &usart1_tx_pa9>;
	current-speed = <115200>;
	status = "okay";
};

&timers2 {
	status = "okay";
	pwm2: pwm {
		st,prescaler = <100>;
		pinctrl-0 = <&tim2_ch1_pa15>;
		status = "okay";
	};
};

&timers4 {
	status = "okay";
	pwm4: pwm {
		st,prescaler = <100>;
		pinctrl-0 = <&tim4_ch3_pb8 &tim4_ch4_pb9>;
		status = "okay";
	};
};

&timers3 {
	status = "okay";
	pwm3: pwm {
		st,prescaler = <100>;
		pinctrl-0 = <&tim3_ch1_pc6 &tim3_ch2_pc7 &tim3_ch3_pc8>;
		status = "okay";
	};
};

&can2 {
	pinctrl-0 = <&can2_rx_pb5 &can2_tx_pb6>;
	status = "okay";
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_mosi_pb15 &spi2_miso_pb14 &spi2_sck_pb13>;
	cs-gpios = <&gpioa 8 (GPIO_ACTIVE_LOW)>,
		   <&gpiob 1 (GPIO_ACTIVE_LOW)>,
		   <&gpioc 5 (GPIO_ACTIVE_LOW)>,
		   <&gpiob 12 (GPIO_ACTIVE_LOW)>;
	ms5607: ms5607@0 {
		status = "okay";
		compatible = "meas,ms5607";
		reg = <0>;
		label= "ms5607";
		spi-max-frequency = <20000000>;
	};
	bmi088_gyr: bmi088_gyr@1 {
		status = "okay";
		compatible = "bosch,bmi088-gyro";
		reg = <1>;
		label = "bmi088-gyro";
		spi-max-frequency = <10000000>;
	};
	bmi088_acc: bmi088_acc@2 {
		status = "okay";
		compatible = "bosch,bmi088-accel";
		reg = <2>;
		label = "bmi088-accel";
		spi-max-frequency = <10000000>;
	};
	ais2120sx: ais2120sx@3 {
		status = "okay";
		compatible ="st,aisx120sx";
		reg = <3>;
		label = "aisx2120sx";
		spi-max-frequency = <1000000>;
	};
};

&spi1 {
	pinctrl-0 = <&spi1_miso_pa6 &spi1_mosi_pa7 &spi1_sck_pa5>;
	status = "okay";
	cs-gpios = <&gpioc 4 (GPIO_ACTIVE_LOW)>;
	mt25ql: mt25ql512ABB@0 {
		status = "okay";
		compatible = "jedec,spi-nor";
		reg = <0>;
		label="mt25ql";
		spi-max-frequency = <1000000>;
		jedec-id = [20 BA 20];
		size = <134217728>;
		hold-gpios = <&gpioa 4 0>;
	};
};

&mt25ql {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000 0x1000000>;
		};
	};
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in10_pc0 &adc1_in11_pc1 &adc1_in12_pc2 &adc1_in13_pc3>;
};

&usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	status = "okay";
};
